---
import '../styles/global.css';

const pageTitle = "Home Page";
const links = [
	{href: "/about/", desc: "About me"},
	{href: "/blog/", desc: "Blog"}
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<ul>
			{ links.map(link => <li><a href={link.href}>{link.desc}</a></li>) }
		</ul>
	</body>
</html>
